nav
    .nav-wrapper
        a.center.brand-logo(href='/') Concat
        ul#nav-mobile.left.hide-on-med-and-down
            li
                a(href="/") Welcome
            li
                a(href="/home") Home
            li
                a(href="/liked") Liked
            li
                a(href="/logout") Logout