body {
    background-color: #E0E0E0;
}

h1 {
    color: #546E7A;
}

nav {
    background: #689F38;
}

img {
    border-radius: 5em;
    width: 25em;
    height: 22em;
    opacity: .9;
    z-index: -1;
    box-shadow: 0 2px 8px 2px grey;
    line-height: 1.4;
}

.heading h1 {
    color: #8BC34A;
}

.btn {
    background: #43A047;
}

.btn:hover {
    background: #33691E;
}

.error__image {
    opacity: 1;
    display: block;
    margin: 0 auto;
}