extends partials/layout.pug

block content
    .welcome
        .welcome__text
            h1.center You've found a 404!
        .welcome__image
            img.error__image(src="../images/sadkitty.jpeg")