extends partials/layout.pug

block content
  .row
    each user in users
      div(class='col s12 m4')
        .card
          .card-image
            img(src=user.picUrl)
            |
            span.card-title #{user.username}
          .card-content
            p Likes:  #{user.likes}.
            p Dislikes:  #{user.dislikes}.
          .card-action
            a(href='#') 'Like' this cat
