extends partials/layout.pug

block content
  .row
    each like in likesArray
      div(class='col s12 m3')
        .liked-card
          img.circle.liked-image(src=like.picUrl)
          .liked-name
            span.card-title #{like.username}
