extends partials/layout.pug

block content
  .row
    each like in likesArray
      div(class='col s12 m3')
        .card
          .card-image
            img(src=like.picUrl)
            |
            span.card-title #{like.username}
          .card-content
