extends partials/layout.pug

block content
  h1 Hi my name is #{selectedUser[0].username}
  img(src=selectedUser[0].picUrl)
  h3 I like #{selectedUser[0].likes}
  h3 I dislike #{selectedUser[0].dislikes}
