extends partials/layout.pug

block content
    h1.center.registered You're now ready to live more than nine times.

    div.center
        .registered__image
        img(src="../images/winkykitty.jpeg")

    div.center
        a.btn.btn-info.btn-lg(href='/home') Cat Call!